img{
    width: 150px;
    height: 150px;
}

body{
    background-color: lime;
    font-family: fantasy;
}

ol{
    background-color: darkgreen;
    border-radius: 50px;
    height: 1100px;
}

#conclusion{
    background-color: darkolivegreen;
    border-radius: 50px;
}

h6{
    font-size: 20px;
}